# Intellij IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings
utils/hono-influxdb-connector/bin

# Java
*.class
*.jar

# Gradle
build/
gradle/
.gradle/
gradlew
gradlew.bat
gradle-app.setting

# Maven
target/

deployment/exportStaticIpAddresses.inc
