<!--This CustomLayout uses inline styles.-->

<table align="center" style="width: 50%; height: 100%;">


	<tr>
		<td colspan="2" align="center"><div location="logo"></div><td>
	</tr>

</table>

<table align="center" cellspacing="10"
	style="width: 50%; height: 100%; color: #fff; padding: 20px; margin-top: 0px; background: #229A89 repeat-x; border: 2px solid white; border-radius: 25px; align-content: center;">


	<tr>
		<td colspan="2" align="left">

			<h1 style="margin-top: 0; color: #fff;">Login</h1>
		</td>
	</tr>
	<tr>
		<td align="right">User&nbsp;name:</td>
		<td>
			<div location="username"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Password:</td>
		<td>
			<div location="password"></div>
		</td>
	</tr>
	<tr>
		<td align="right" colspan="2">
			<div location="okbutton"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 7px; background-color: #487171">
			<span style="font-family: FontAwesome; margin-right: 5px;">&#xf05a;</span>
			Welcome Kuksa App Store. If you dont have any account, you can <a
			href="#!signup" style="color: white;">click</a> here to sign up.
		<td>
	</tr>
</table>
<table align="center" cellspacing="10" style="width: 50%; height: 100%;">
	<tr>
		<td colspan="2" style="padding: 7px;">
			<span style="font-family: FontAwesome; margin-right: 5px;">&#xf05a;</span>
			<a href="swagger-ui.html" style="color: #487171;">click</a> here to go to Documentation of Swagger.
		<td>
	</tr>
</table>